@inherits System.Web.Mvc.WebViewPage<Solita.LanguageEditor.UI.Models.LanguageEditorViewModel>

@using System.Globalization
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using EPiServer.Framework.Web.Resources
@using EPiServer.Shell.Navigation
@using EPiServer.Shell.Web.Mvc.Html
@using Solita.LanguageEditor.UI.Common


<!DOCTYPE html>

<html>
    <head>
        <title>@Html.Translate("/languageeditor/title")</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
       
        <!-- Shell -->
        @Html.Raw(ClientResources.RenderResources("ShellCore"))
        @Html.Raw(ClientResources.RenderResources("ShellWidgets"))
        <!-- LightTheme -->
        @Html.Raw(ClientResources.RenderResources("ShellCoreLightTheme"))
        <!-- Navigation -->
        @Html.Raw(ClientResources.RenderResources("Navigation"))
        <!-- Dojo Dashboard -->
        @Html.Raw(ClientResources.RenderResources("DojoDashboardCompatibility"))
        
        <style type="text/css">

            .language-editor td {
                padding: 0 5px;
            }
            .language-editor {
                margin: 10px;
            }
            .language-editor .category {
                padding-top: 1em;
            }
            .language-editor th {
                text-align: center;
            }
            .language-editor table {
                margin-bottom: 2em;
            }
            .language-editor .value-modified {
                background-color: lightgoldenrodyellow;
            }
            .language-editor .value-new {
                background-color: lightgreen;
            }
            .batch-translation-row input[type=image]{
                vertical-align: top;
            }
            .translations-row input[type=text], .batch-translation-row textarea, .version-selector {
                width: 200px;
            }

        </style>
    </head>

    <body>
        <div id="epi-globalDocument">
            @Html.Raw(Html.GlobalMenu())

            <div class="language-editor">

                @using (Html.BeginForm(new {Action = "Save"}))
                {

                    <table>
                        <tr>
                            <th></th>
                            <th></th>
                            @foreach (var lang in Model.Languages)
                            {
                                <th data-key="@lang">
                                    @CultureInfo.GetCultureInfo(lang).DisplayName
                                    @if (Model.DevelopmentMode)
                                    {
                                        <input type="image" src="@ModuleUtil.PathTo("/static/img/arrow_down.png")" class="defaults-column"    
                                               title="@Html.Translate("/languageeditor/setcolumndefaults")" 
                                               alt="@Html.Translate("/languageeditor/setcolumndefaults")" />
                                    }
                                </th>
                            }
                        </tr>
        
                        @for (var iCat = 0; iCat < Model.Categories.Count(); iCat++)
                        {
                            <tr><td class="category"><strong>@Model.Categories[iCat].Name</strong></td></tr>

                            for (var iTrans = 0; iTrans < Model.Categories[iCat].Translations.Count(); iTrans++)
                            {
                                <tr data-default="@Model.Categories[iCat].Translations[iTrans].DefaultValue" data-key="@Model.Categories[iCat].Translations[iTrans].Key"  class="translations-row">
                                    <td>
                                        @Html.HiddenFor(m => m.Categories[iCat].Translations[iTrans].Key)
                                        @Html.HiddenFor(m => m.Categories[iCat].Translations[iTrans].Description)
                                        @Model.Categories[iCat].Translations[iTrans].Description
                                    </td>
                
                                    <td>
                                        @if (Model.DevelopmentMode)
                                        {
                                            <input type="image" src="@ModuleUtil.PathTo("/static/img/arrow_right.png")" class="defaults-row"
                                                   title="@Html.Translate("/languageeditor/setrowdefaults")" 
                                                   alt="@Html.Translate("/languageeditor/setrowdefaults")" />
                                        }
                                    </td>
                
                                    @foreach (var lang in Model.Languages)
                                    {
                                        <td data-key="@lang">
                                            @Html.TextBoxFor(m => m.Categories[iCat].Translations[iTrans].Translations[lang], new {@class = "translation-input", data_original = Model.Categories[iCat].Translations[iTrans].Translations[lang]})
                                            <input type="image" src="@ModuleUtil.PathTo("/static/img/arrow_undo.png")"
                                                   title="@Html.Translate("/languageeditor/undo")"
                                                   alt="@Html.Translate("/languageeditor/undo")"
                                                   class="undo-cell"  />
                                            @if (Model.DevelopmentMode)
                                            {
                                                <input type="image" src="@ModuleUtil.PathTo("/static/img/arrow_in.png")" class="defaults-cell" 
                                                       title="@Html.Translate("/languageeditor/setdefault")"  
                                                       alt="@Html.Translate("/languageeditor/setdefault")" />
                                            }
                                        </td>
                                    }
                                </tr>
                            }
                        }
                        
                        @if (Model.DevelopmentMode)
                        {
                            <tr><td class="category"><strong>@Html.Translate("/languageeditor/batchtranslate")</strong></td></tr>
                            <tr class="batch-translation-row">
                                <td></td>
                                <td></td>
                                @foreach (var language in Model.Languages)
                                {
                                    <td class="batch-translation-cell" data-key="@language">
                                        <textarea class="batch-translations"></textarea>
                                        <input type="image" src="@ModuleUtil.PathTo("/static/img/arrow_down.png")" class="get-translations"    
                                               title="@Html.Translate("/languageeditor/gettranslations")" 
                                               alt="@Html.Translate("/languageeditor/gettranslations")" />
                                    
                                        <input type="image" src="@ModuleUtil.PathTo("/static/img/arrow_up.png")" class="set-translations"    
                                               title="@Html.Translate("/languageeditor/settranslations")" 
                                               alt="@Html.Translate("/languageeditor/settranslations")" />
                                    </td>
                                }
                            </tr>

                            <tr><td class="category"><strong>@Html.Translate("/languageeditor/reverttoolderversion")</strong></td></tr>
                            <tr class="version-revert-row">
                                <td></td>
                                <td></td>
                                @foreach (var language in Model.Languages)
                                {
                                    <td class="version-revert-cell" data-key="@language">
                                        <select class="version-selector">
                                            @foreach (var version in Model.Versions.Reverse())
                                            {
                                                <option value="@version.Id">@version.Name - @version.Created.ToShortDateString() @version.Created.ToShortTimeString() - @version.CreatedBy</option>
                                            }
                                        </select>
                                        <input type="image" src="@ModuleUtil.PathTo("/static/img/arrow_up.png")" class="version-revert"    
                                               title="@Html.Translate("/languageeditor/reverttoolderversion")" 
                                               alt="@Html.Translate("/languageeditor/reverttoolderversion")" />
                                    </td>
                                }
                            </tr>
                        }

                    </table>

                    <input type="submit" value="@Html.Translate("/languageeditor/undoall")" class="undo-all" />
                    <input type="submit" value="@Html.Translate("/languageeditor/save")" />
                }

            </div>
        </div>

        <script type="text/javascript">

            $(document).ready(function () {
                $(".version-revert").click(function () {
                    var version = $(this).siblings(".version-selector:first").val();
                    var lang = $(this).closest(".version-revert-cell").data("key");

                    var url = '@Url.Action("GetJsonLocalizations")?lang='+ lang + '&version=' + version;
                    $.ajax({ url: url, success: getJsonLocalizationsCallback, type: 'POST', dataType: 'json' });

                    return false;
                });
                
                $(".get-translations").click(function () {
                    var key = $(this).closest(".batch-translation-cell").data("key");
                    var translations = new Array();
                    getInputsByLanguageKey(key).each(function() {
                        translations.push($(this).val());
                    });
                    $(this).siblings(".batch-translations").val(translations.join("\n")).change();

                    return false;
                });

                $(".set-translations").click(function () {
                    var key = $(this).closest(".batch-translation-cell").data("key");
                    var translations = $(this).siblings(".batch-translations").val().split(/[\r\n]/g);
                    getInputsByLanguageKey(key).each(function (i) {
                        $(this).val(translations[i]).change();
                    });

                    return false;
                });
                

                $(".undo-cell").click(function () {
                    var translationInput = $(this).siblings(".translation-input:first");
                    setOriginalValue(translationInput);

                    return false;
                });
                
                $(".undo-all").click(function () {
                    $(".translation-input").each(function() {
                        setOriginalValue($(this));
                    });

                    return false;
                });
                
                $(".defaults-cell").click(function () {
                    var translationInput = $(this).siblings(".translation-input:first");
                    setDefaultValue(translationInput);

                    return false;
                });

                $(".defaults-column").click(function () {
                    var key = $(this).parent().data("key");
                    getInputsByLanguageKey(key).each(function() {
                        setDefaultValue($(this));
                    });
                    
                    return false;
                });

                $(".defaults-row").click(function () {
                    $(this).closest(".translations-row").find(".translation-input").each(function () {
                        setDefaultValue($(this));
                    });

                    return false;
                });

                $(".translation-input").change(function() {
                    setModifiedStatus($(this));
                });
            });

            function getInputsByLanguageKey(key) {
                return $("td[data-key='" + key + "']").find(".translation-input");
            }

            function setOriginalValue(translationInput) {
                $(translationInput).val(getOriginalValue(translationInput)).change();
            }
            
            function getOriginalValue(translationInput) {
                return $(translationInput).data("original");
            }
            
            function setDefaultValue(translationInput) {
                $(translationInput).val(getDefaultValue(translationInput)).change();
            }
            
            function getDefaultValue(translationInput) {
                return $(translationInput).closest(".translations-row").data("default");
            }

            function setModifiedStatus(translationInput) {
                translationInput.removeClass("value-modified");
                translationInput.removeClass("value-new");
                var originalValue = getOriginalValue(translationInput);
                if (translationInput.val() !== originalValue) {
                    if (originalValue == "") {
                        translationInput.addClass("value-new");
                    } else {
                        translationInput.addClass("value-modified");
                    }
                }
            }
            
            function getJsonLocalizationsCallback(json) {
                var language = json.language;
                var translations = json.translations;
                for (var i = 0; i < translations.length; i++) {
                    $(".translations-row[data-key='" + translations[i].key + "']")
                        .find("td[data-key='" + language + "']")
                        .find(".translation-input")
                        .val(translations[i].translation)
                        .change();
                }
            }
            
        </script>

    </body>
</html>