@inherits System.Web.Mvc.WebViewPage<Solita.LanguageEditor.UI.Models.LanguageEditorViewModel>

@using System.Globalization
@using System.Web.Mvc.Html
@using EPiServer.Framework.Web.Resources
@using EPiServer.Shell.Navigation
@using EPiServer.Shell.Web.Mvc.Html
@using Solita.LanguageEditor.UI.Common


<!DOCTYPE html>

<html>
    <head>
        <title>@Html.Translate("/languageeditor/title")</title>
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="@ModuleUtil.PathTo("static/js/languageeditor.js")"></script>
        <link rel="stylesheet" href="@ModuleUtil.PathTo("static/css/languageeditor.css")" type="text/css">
       
        <!-- Shell -->
        @Html.Raw(ClientResources.RenderResources("ShellCore"))
        @Html.Raw(ClientResources.RenderResources("ShellWidgets"))
        <!-- LightTheme -->
        @Html.Raw(ClientResources.RenderResources("ShellCoreLightTheme"))
        <!-- Navigation -->
        @Html.Raw(ClientResources.RenderResources("Navigation"))
        <!-- Dojo Dashboard -->
        @Html.Raw(ClientResources.RenderResources("DojoDashboardCompatibility"))
    </head>

    <body>
        <div id="epi-globalDocument">
            @Html.Raw(Html.GlobalMenu())

            <div class="language-editor" data-localizations-url="@Url.Action("GetJsonLocalizations")">

                @using (Html.BeginForm(new { Action = "Save" }))
                {

                    <table>
                        <tr class="languages-row">
                            <th></th>
                            <th></th>
                            @foreach (var lang in Model.Languages)
                            {
                                <th data-lang="@lang">
                                    @CultureInfo.GetCultureInfo(lang).DisplayName
                                    @if (Model.DevelopmentMode)
                                    {
                                        <button type="button" class="defaults-column image-button" title="@Html.Translate("/languageeditor/setcolumndefaults")">
                                            <img src="@ModuleUtil.PathTo("/static/img/arrow_down.png")" alt="@Html.Translate("/languageeditor/setcolumndefaults")" />
                                        </button>
                                    }
                                </th>
                            }
                        </tr>
        
                        @for (var iCat = 0; iCat < Model.Categories.Count(); iCat++)
                        {
                            <tr class="category-row"><td class="heading-row"><strong class="category">@Model.Categories[iCat].Name</strong></td></tr>

                            for (var iTrans = 0; iTrans < Model.Categories[iCat].Translations.Count(); iTrans++)
                            {
                                <tr class="translations-row"
                                    data-default="@Model.Categories[iCat].Translations[iTrans].DefaultValue"
                                    data-key="@Model.Categories[iCat].Translations[iTrans].Key" 
                                    data-description="@Model.Categories[iCat].Translations[iTrans].Description">
                                    <td>
                                        @Model.Categories[iCat].Translations[iTrans].Description
                                        @Html.HiddenFor(m => m.Categories[iCat].Translations[iTrans].Key)
                                        @Html.HiddenFor(m => m.Categories[iCat].Translations[iTrans].Description)
                                    </td>
                
                                    <td>
                                        @if (Model.DevelopmentMode)
                                        {
                                            <button type="button" class="defaults-row image-button" title="@Html.Translate("/languageeditor/setrowdefaults")" >
                                                <img src="@ModuleUtil.PathTo("/static/img/arrow_right.png")" alt="@Html.Translate("/languageeditor/setrowdefaults")" />
                                            </button>
                                        }
                                    </td>
                
                                    @foreach (var lang in Model.Languages)
                                    {
                                        <td data-lang="@lang">
                                            @Html.TextBoxFor(m => m.Categories[iCat].Translations[iTrans].Translations[lang], new { @class = "translation-input", data_original = Model.Categories[iCat].Translations[iTrans].Translations[lang] })
                                            <button type="button" class="undo-cell image-button" title="@Html.Translate("/languageeditor/undo")">
                                                <img src="@ModuleUtil.PathTo("/static/img/arrow_undo.png")" alt="@Html.Translate("/languageeditor/undo")" />
                                            </button>
                                            @if (Model.DevelopmentMode)
                                            {
                                                <button type="button" class="defaults-cell image-button" title="@Html.Translate("/languageeditor/setdefault")"  >
                                                    <img src="@ModuleUtil.PathTo("/static/img/arrow_in.png")" alt="@Html.Translate("/languageeditor/setdefault")" />
                                                </button>
                                            }
                                        </td>
                                    }
                                </tr>
                            }
                        }

                    </table>

                    
                    <table>
                        <tr><td class="heading-row"><strong>@Html.Translate("/languageeditor/reverttoolderversion")</strong></td></tr>
                        <tr class="version-revert-row">
                            <td>
                                <select class="version-selector">
                                    @foreach (var version in Model.Versions.Reverse())
                                    {
                                        <option value="@version.Id">@version.Name - @version.Created.ToShortDateString() @version.Created.ToShortTimeString() - @version.CreatedBy</option>
                                    }
                                </select>
                                <button type="button" class="version-revert image-button" title="@Html.Translate("/languageeditor/reverttoolderversion")">
                                    <img src="@ModuleUtil.PathTo("/static/img/arrow_up.png")" alt="@Html.Translate("/languageeditor/reverttoolderversion")" />
                                </button>
                            </td>
                        </tr>
                            
                        @if (Model.DevelopmentMode)
                        {
                            <tr><td class="heading-row"><strong>@Html.Translate("/languageeditor/importexport")</strong></td></tr>
                            <tr class="import-export-row">
                                <td>
                                    <input type="file" class="csv-file-upload" />
                                    <button type="button" class="csv-import image-button" title="@Html.Translate("/languageeditor/import")">
                                        <img  src="@ModuleUtil.PathTo("/static/img/arrow_up.png")" alt="@Html.Translate("/languageeditor/import")" />
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="csv-export image-button" title="@Html.Translate("/languageeditor/export")">
                                        <img  src="@ModuleUtil.PathTo("/static/img/page_excel.png")" alt="@Html.Translate("/languageeditor/export")" />
                                    </button>
                                    <a class="hidden csv-export-datalink" download="translations.txt"></a>
                                </td>
                            </tr>
                            
                        }
                    </table>
                    
                    
                    <button type="button" class="undo-all">@Html.Translate("/languageeditor/undoall")</button>
                    <button type="submit">@Html.Translate("/languageeditor/save")</button>
                }

            </div>
        </div>

    </body>
</html>